.display
  .header
    .header__message
      チャットグループが作成されました。
  .left-contents
    .left-content-top
      .left-content-top__name
        USER
      = link_to edit_user_registration_path do
        = fa_icon 'cog 2x'
      = link_to new_group_path do
        = fa_icon 'pencil-square-o 2x'
    .group-info
      .group-info__name
        lipton
      .group-info__comment
        カロリーメイト
  .right-contents
    .right-content-top
      .edit-btn
        = link_to 'EDIT', edit_group_path(@group),class: 'edit'
      .right-content-top-group-name
        グリコ
      .right-content-user-name
        ポッキー
    .chatspace
      =render partial: "message", collection: @massages
    .chatspace-footer
      = form_for ([@group,@message]), html: { class: 'js-form' } do |f|
        = f.text_field :body, placeholder: "type a message", class: "text-field"
        = f.submit "SEND", class: "send-btn"
        //= fa_icon 'file-image-o'
        = f.file_field :image, style: "display: none;", id: "file_input_origin"
        = fa_icon("image 2x", id: "file_input")
