= form_for(@group) do |f|
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :name, 'グループ名', class: "chat-group-form__label"
    .chat-group-form__field--right
      = f.text_field :name, value: @group.name , id: "chat_group_name", class: "chat-group-form__input"
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :name, "チャットメンバーを追加", class: "chat-group-form__label"
    .chat-group-form__field--right
      = text_field_tag :name,'', placeholder: "追加したいユーザー名を入力してください", id: 'keyword', class: 'chat-group-form__input'
      #user-search-result
  .chat-group-form__field.clearfix
    .chat-group-form__field--search.clearfix
      .chat-group-form__field--left
        = f.label :name, "追加したいメンバーを選択", class: "chat-group-form__label"
      .chat-group-form__field--right.margin-top
        %ul.clearfix
          #user-list.clearfix
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :name, "チャットメンバー", class: "chat-group-form__label"
    .chat-group-form__field--right.clearfix
      %ul.clearfix.chat-group-form__field
        .field-input.clearfix
          %input{ name: "group[user_ids][]", type: "hidden", value: "#{current_user.id}" }
            %p.chat-group-form__field.chat-group-user
              #{current_user.name}
            - if @other_users
              - @other_users.each do |user|
                .chat-group-form__field.clearfix
                  %li.join-user
                    %input{ name: "group[user_ids][]", type: "hidden", value: "#{user.id}" }
                    %p.chat-group-user
                      #{user.name}
                      %a.remove-user 削除
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right.clearfix
      = f.submit "Save", class: "chat-group-form__action-btn", disable_with: "save"
